<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/narla/IdeaProjects/MobileAppTesting_Wth_Pom">
        <classes>
            <class name="com.appium.mobile.testing.WhatsappTest">
                <methods>
                    <include name="launchWhatsApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>